@font-face{
	font-family: 'Amsi Pro';
	src: url('fonts/AmsiPro-Light.otf');
}
@font-face{
	font-family: 'Amsi Pro';
	src: url('fonts/AmsiPro-Ultra.otf');
	font-weight: 500;
}
body{
	font-family: 'Amsi Pro';
}
@media (min-width: 768px) {
	.logo{
		float: left;
		padding: 25px 0;
		height: 100px;
	}
	#wowslider-container1{
		margin-top: -100px;
	}
	.servicio img{
		padding: 0;
	}
}
.logo{
	float: left;
	padding: 30px 0;
	height: 100px;
}
.header{
	background: rgba(255, 255, 255, 0.8);
	position: relative;
	z-index: 2;
}
.header-links{
	width: 100px;
	float: right;
}
.langs{
	float: right;
	height: 45px;
	width: 120px;
	padding-top: 10px;
}
.langs img{
	width: 35px;
	margin-top: 5px;
	margin-left: 5px;
	float: right;
}
.menu-toggle{
	float: right;
	color: #0e9347;
	font-size: 50px;
	line-height: 25px;
}
.menu-toggle:hover{
	color: #12b357;
}
.home-links{
	margin-top: 20px;
}
.home-links > .row > .col-sm-6{
	margin-bottom: 20px;
	overflow: hidden;
}
.home-links > .row > .col-sm-6 > a{
	height: 260px;
	padding-top: 170px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 26px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-weight: 500;
	display: block;
	text-decoration: none;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    transform-origin: bottom;
	text-shadow: 2px 2px 5px rgba(100, 100, 100, 1);
}
.home-links > .row > .col-sm-6 > a:hover{
    -moz-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}
.footer{
	background: #e5e5e5;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 20px;
}
.home-1{
	background-image: url('../img/home-1.jpg');
}
.home-2{
	background-image: url('../img/home-2.jpg');
}
.home-3{
	background-image: url('../img/home-3.jpg');
}
.home-4{
	background-image: url('../img/home-4.jpg');
}
.menu{
	float: right;
	position: relative;
}
.toggle-menu img{
	height: 65px;
	padding: 20px;	
}
.menu .dropdown-menu{
  right: 0;
  left: auto;
  background: rgba(14,147,71,0.7);
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 0;
}
.menu .dropdown-menu li a{
	color: #FFF;
	font-weight: 500;
	font-size: 20px;
	text-shadow: 2px 2px 5px rgba(100, 100, 100, 1);
	padding: 15px 15px;
}
.menu .dropdown-menu li a.active,.menu .dropdown-menu li a:hover{
	background: transparent;
	text-decoration: underline;
}
.title{
	height: 215px;
	margin-top: -100px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 150px;
	color: #FFF;
	text-shadow: 2px 2px 5px rgba(100, 100, 100, 1);
	margin-bottom: 25px;
}
.title-frutos-de-chile{
	background-image: url('../img/titles/frutos-de-chile.jpg');
}
.font-dark-green{
	color: #008b39;
	font-size: 25px;
	font-weight: 500;
}
.font-light-green{
	color: #8ac43f;
	font-size: 25px;
	font-weight: 500;
}
.principios{
	margin-top: 20px;
}
.principios .principio{
	margin-bottom: 20px;
	overflow: hidden;
	height: 300px;
	position: relative;
}
.principios .principio:hover .titulo-principio{
	top: -100%;
}
.principios .principio:hover .texto-principio{
	top: 0%;
}
.principios .principio .titulo-principio{
	height: 300px;
	padding-top: 230px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 36px;
	font-weight: 500;
	display: block;
	text-decoration: none;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    transform-origin: bottom;
	text-shadow: 2px 2px 5px rgba(100, 100, 100, 1);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.mision .titulo-principio, .valores .titulo-principio{
	background: #378b39;
}
.vision .titulo-principio{
	background: #91be31;
}
.principios .principio .texto-principio{
	position: absolute;
	top: 100%;
	left: 0;
	background: #bc1823;
	width: 100%;
	height: 100%;
	padding: 15px;
	color: #FFF;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: justify;
}
.servicio{
	margin-bottom: 30px;
}
@media (max-width: 769px) {
	.servicio img{
		padding: 10px 15%;
	}
}